/* Styles for the demo links page*/
html {
    font-size:16px;  /*font-size 100% or 62.5%*/
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    video {
       display: none;
   }
}
video {
   max-width:580px;
   min-width: 580px;
   height:auto;
}
/*visibility: hidden; display: none; */
@media all and (max-width: 680px) {
    video {
       display: none;
   }
}
a.my-link:link {
    /*color: #ffffff;*/
    /*color:#ff0000;*/
    color:#000080; /*navy blue*/
}
/*visited links have a non-bright color*/
a.my-link:visited {
    color: #00008b; /*#c3c3c3;*/
    /*text-decoration: underline;*/
}
a.my-link:hover {
    color: #ff6666;
    cursor: pointer;
    text-decoration: underline;
}

.m-float-right {
    background-color: #ffffff;
    float: right;
    margin: 0 0 0 0;
}

.m-float-left {
    background-color: #ffffff;
    float: left;
    margin: 0 0 0 0;
}

.my-ul { list-style: none; }

/* serif font */
.m-i-serif-type {
    font-family: serif;
  /*  font-size: 2.0rem;*/
}
/* serif font */
.m-i-serif-type-letter-sized {
    font-family: serif;
    /*font-size: 1.125rem;*/
}
.wrap-centered-content {
    display: block;
    width:100%;
    text-align: center;
}
.m-container-text {
    width: 75%;
    align-content:center;
    align-self:center;
    box-sizing:border-box;
    background-color:white;
    /*margin top right bottom left*/
    margin:.425rem 3.125rem .425rem 3.125rem;
    text-align: left;
    display: inline-block;/*centers*/
}
body {
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", 
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;*/
    font-family: 'Merriweather', serif;
    font-size: 1.1250rem;
    color: #000000;
    text-size-adjust: none; 
}
@media all and (max-width: 750px) {
    .m-container-text {
    width: 90%;
    font-size: 1.0rem;
    margin:.225rem 1.125rem .225rem 1.125rem;
   }
}
.m-i-by-header {
    /*color:#ff0000;*/
    font-weight: bold;
    /*font-size:larger;*/
}

/* by-line */
.m-i-by {
    /*color:#ff0000;*/
    /*font-weight: bold;*/
    font-size:small;
}
